#homepage{
    background: #EDE7D7;
}

#profilepage{
    background: #A58C8C;
}

#contactmepage{
    background: #F0D9D9;
}

#artworkspage{
    background: #C9A5A5;
}

.homeimg{
    width:100%;
}

.min-jiang-kueh{
    width:50%;
}

.ang-ku-kueh{
    width:50%;
}

.kueh-lapis{
    width:50%;
}

