#homepage{
    background: #EDE7D7;
}

#profilepage{
    background: #A58C8C;
}

#contactmepage{
    background: #F0D9D9;
}

#artworkspage{
    background: #C9A5A5;
}

.homeimg{
    width:100%;
}


h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #F8FAE7;
    font-size: 70px;
}

h1{
    text-align: center;
    color: #824B4B;
    font-size: 70px;
}

.brief-desc{
    color: #C68A8A;
    margin-left: 2vw;
    margin-right: 2v;
    padding: 20px;
    text-align: center;
    font-size: 5vw;
}

.nav {
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
    
}

.nav h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: #824B4B;
    font-size: 10vw;
    padding-bottom: 50px;
}

.nav a h2{
    text-align: right;
    float: right;
    font-size: 8vw;
    color: #B97A7A;
    margin-top: -2em;
}

.nav a img{
    vertical-align: auto;
    width: 45%;
    margin-left: 5px;
    padding-top: 20px;
}



.min-jiang-kueh{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ang-ku-kueh{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kueh-lapis{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
