#homepage{
    background: #EDE7D7;
}

#profilepage{
    background: #A58C8C;
}

#contactmepage{
    background: #F0D9D9;
}

#artworkspage{
    background: #C9A5A5;
}

.homeimg{
    width:100%;
}


h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #F8FAE7;
    font-size: 8vw;
}

h1{
    text-align: center;
    color: #824B4B;
}


.profile-title{
    font-size: 18vw;
    margin-top:10px;
    margin-bottom:10px;
}

.contact-title{
    font-size: 18vw;
    margin-top:10px;
    margin-bottom:10px;
    color:#846969;
}

.art-title{
    font-size: 18vw;
    margin-top:10px;
    margin-bottom:10px;
}

.introduction{
    margin-top:1px;
    text-align: center;
    color: #F8FAE7;
    font-size: 5vw;
}

.profile-content{
    width: 55%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1.5em;
    background: #A58C8C;
    border-radius: 5px;
}

footer{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #523A3A;
    font-size: 3vw;
    padding-top: 10vw;
}

.profile-home a h2{
    text-align: center;
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
}

.contact-home a h2{
    text-align: center;
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
}

.art-home a h2{
    text-align: center;
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
}

.brief-desc{
    color: #C68A8A;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 0vw;
    padding: 20px;
    padding-bottom:0vw;
    text-align: center;
    font-size: 5vw;
    border:0vw;
}

.nav {
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
}

.nav h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: #824B4B;
    font-size: 10vw;
    padding-bottom: 50px;
    margin-top: 0vw;
    margin: 5vw;
}

.nav a h2{
    text-align: right;
    float: right;
    font-size: 8vw;
    color: #B97A7A;
    margin-top: -2em;
}

.nav a img{
    vertical-align: auto;
    width: 45%;
    margin-left: 5px;
    padding-top: 5vw;
}


.min-jiang-kueh{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ang-ku-kueh{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.kueh-lapis{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vw;
}

.general{
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
}

.school{
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
}

.vent{
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
}

.general img{
    width: 100%;
}

.school img{
    width: 100%;
}

.vent img{
    width: 100%;
}

form{
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
    background: #CFAEAE;
    line-height: 2;
}

.contact{
    text-align:center;
}

.contact-container{
    width: 80%;
    position: relative;
    text-align: center;
    margin: 80px auto 0;
    padding: 1em;
    border-radius: 5px;
    background: #795f5f;
    line-height: 2;
}

.contact-container p{
    color: #fce9dc;
    font-size: 5vw;
    text-align:left;
}

.contact h3{
    color: #C68A8A;
    padding-top: 5vw;
    padding-bottom: 2vw;
    font-size: 7vw;
}

label{
    color: #faf9ec;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
}

button{
    padding: 2vw;
    padding-top:0vw;
    padding-bottom:0vw;
    background: #9b7f7f;
}

button h2{
    color: rgb(77, 54, 54);
    font-size: 3vw;
}

input{
    padding-bottom:5vw;
    width: 40%;
}

.space{
    padding: 3vw;
}


